body{
    margin: 0;
}
  h1{
     color: rgb(231, 10, 84);
  }
  p{
    color: dimgray;
    width: 400px;
  }
 .link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, yellow, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
  }
  .half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
  }  
  .half-width img{
   width: 80%;
   margin-left: 10%;
   margin-top: 5%;
 
  } 
  .top-banner{
    background-image: url(personal-website/header-bg.png);
    background-repeat: no-repeat; 
    padding-bottom: 150px;
  }
  section{
    height: 550px;
  
  }
  .middle-banner{
    background-image: url(personal-website/biography-bg.png);
    background-repeat: no-repeat;
  }
  .g1{
    font-size: 40px;
    text-align: center;
    margin-top: 10%;
  }
  .half-width2{
    width: 30%;
    margin-left: 2%;
    float: left;
  }
  .half-width2 img{
   width: 100%;}

  .bottom-banner{
    background-image: url(personal-website/latest-work-bg.png);
    background-repeat: no-repeat;
    
  }
  .text-1{
    margin-top: 10%;
    margin-left: 10%;
  }
  .g4{
    text-align: center;
   
  }
  #g5{
    font-size: 30px;
   
  }
  #g6{
    color: red;
    background-color: black;
    width: 400px;
    height: 90px;
    text-align: center;
    margin-left: 35%;
    margin-top:5% ;}
 footer h5{
   text-align: center;
   color: dimgray;
  }